{{ logfile }} {
        create 0644 root root
        compress
        delaycompress
        missingok
        notifempty
        dateext
        dateformat -%Y%m%d
        monthly
        rotate 6
}
